// Base Font
$base-font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif !default;
$base-font-size: 62.5% !default;
$base-line-height: 2.2em !default;
$base-alignment: center;

// Fixed Font
$fixed-font-family: Monaco, "Andale Mono", "Lucida Console", monospace !default;
$fixed-font-size: 62.5% !default;
$fixed-line-height: $base-line-height !default;

// Colors
$font-color: #444 !default;
$loud-color: $font-color - #333 !default;
$quiet-color: $font-color + #666 !default;
$header-color: $font-color - #222 !default;
$background-color: white !default;

// 12 COLUMN GRID
// Font Sizes
// $base-font-size:   	16px;
// $base-line-height: 	24px;

// Grid
// $total-columns: 	12;
// $column-width: 		4em;
// $gutter-width: 	1em;
// $grid-padding: 	$gutter-width;

// 16 COLUMN GRID
// Font Sizes
$base-font-size: 10px;
$base-line-height: 18px;

// Grid
$total-columns: 16;
$column-width: 4em;
$gutter-width: 2em;
$grid-padding: $gutter-width / 2;

// Don't move this @import above the GRID and FONT-SIZE variables.
@import "susy";

// @import "compass"; // not necessary after importing susy
@import "modules/base";
@import "partials/boilerplate";
@import "partials/base";
@import "partials/layout";
@import "partials/header";
@import "partials/footer";
@import "partials/sidebar";
@import "partials/posts";
@import "partials/comments";
@import "partials/at_media";
