body {
	@include base-font-properties;
	color: $font-color;
}

select, input, textarea {
	color: $font-color;
}

a {
	color: $loud-color;
	&:hover {
		outline: none;
		color: $loud-color;
		border-bottom: dotted 1px $quiet-color;
	}
	&:active {
		outline: none;
		color: $loud-color;
	}
	&:visited {
		color: $loud-color;
	}
	&:link {
	  -webkit-tap-highlight-color: #ff5e99;
	}
	img { border: none; }
}

pre, code, kbd, samp {
  font-family: $fixed-font-family; }

// following dictates the color of text when selected
::-moz-selection {
  background: $quiet-color;
  color: $loud-color;
  text-shadow: none; }

::selection {
  background: $quiet-color;
  color: $loud-color;
  text-shadow: none; }
