//   If you're going to use this as a parent theme, copy the appropriate code below (grid -or- no-grid blocks) into
// your own theme and override as you would like.

//   If not, then just hack away below and change it as you see fit.
$layout_width: 1240px;
$layout_margin: 10px;

// no Susy grids 
body #container {
	width: $layout_width;
	margin: 0 auto; }

// 2 columns - no Susy grids
body.two-column {
  $layout_column_width: 250px;
  #posts {
    width: $layout_width - $layout_column_width - $layout_margin; 
    float: left;
  }
  aside.right, aside.left {
    width: $layout_column_width;
    float: left;
  }
  &.left-column {
    aside.left {
      margin-right: $layout_margin;  
    }
    #posts {
      margin-right: 0;
    }
  }
  &.right-column {
    #posts {
      margin-right: $layout_margin;      
    }
    aside.right {
      margin-right: 0;
    }
  }
}

// 3 columns - no Susy grids
body.three-column {
  $layout_column_width: 200px;
  #posts {
    margin-right: $layout_margin;
    width: $layout_width - ($layout_margin * 2) - ($layout_column_width * 2);
    float: left;
  }
	aside.left {
    margin-right: $layout_margin;
    width: $layout_column_width;
    float: left;
	}
  aside.right {
    margin-right: 0;
    width: $layout_column_width;
    float: left;
	}
}

// Susy grids - 1 column
body.grid #container {
	@include container;
}

body.showgrid #container {
  @include susy-grid-background;
}
body.grid #container > header,
body.grid #container > footer,
body.grid.one-column #posts {
	clear: both;
}

// 2 columns
body.grid.two-column {
  #posts {
      @include span-columns(16,20);
  }
  aside.right, aside.left {
      @include span-columns(4,20);
  }
  &.left-column {
    aside.left {
          
    }
    #posts {
      @include omega;
    }
  }
  &.right-column {
    #posts {
          
    }
    aside.right {
      @include omega;
    }
  }
}

// 3 columns
body.grid.three-column {
	#posts {
		@include span-columns(12,20);
		article {
         @include span-columns(4,12);
         @include nth-omega(3n);  
      }
	}
	aside.left,
	aside.right {
    	@include span-columns(4,20);
	}
  	aside.left {
    	
	}
	aside.right {
    	@include omega;
	}
}