//   If you're going to use this as a parent theme, copy the appropriate code below (grid -or- no-grid blocks) into
// your own theme and override as you would like.

//   If not, then just hack away below and change it as you see fit.

// DEFAULT / WITHOUT GRID 

body #container {
	width: 960px;
	margin: 0 auto; }

body.three-column {
	aside.left,
	aside.right,
	#posts {
    	margin-right: 10px;
    	width: 200px;
    	float: left;
	}
  	aside.right {
    	margin-right: 0;
	}
  	#posts {
    	margin-right: 10px;
    	width: 540px;
	}
}

// WITH GRID

// grid defaults - 1 column
body.grid #container {
	@include container;
	@include susy-grid-background;
}

body.grid #container > header,
body.grid #container > footer,
body.grid.one-column #posts {
	clear: both;
}

// 3 columns
body.grid.three-column {
	#posts {
		@include span-columns(10,16);
	}
	aside.left,
	aside.right {
    	@include span-columns(3,16);
	}
  	aside.left {
    	
	}
	aside.right {
    	@include omega;
	}
}

// 2 columns
body.grid.two-column {
	#posts {
    	@include span-columns(11,16);
	}
	aside.right, aside.left {
    	@include span-columns(5,16);
	}
  	&.left-column {
    	aside.left {
      		
		}
    	#posts {
      		@include omega;
		}
	}
  	&.right-column {
    	#posts {
      		
		}
    	aside.right {
      		@include omega;
		}
	}
}